<!DOCTYPE html>
<html>
<head>
<title>NutriSmart AI</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

<div class="navbar">

<div class="logo">
NutriSmart AI
</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
</div>

</div>

<div class="hero">

<h1>NutriSmart AI</h1>

<p>
Smart ML-Based Personalized Nutrition &
Health Recommendation System
</p>

<a href="/register" class="btn">
Get Started
</a>

</div>

</body>
</html>